# Dependencies
node_modules
.pnpm-store

# Environment Variables
.env
.env.*
!.env.example
.env.production
.env.beta
*.local
.testing.credentials.md

# Build Outputs
dist/
build/
out/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
Thumbs.db
*.swp
*.swo

# Turborepo
.turbo

# Supabase
supabase/.temp
supabase/functions/*/deno.lock
supabase/.branches

# Temporary files
tmp/
.temp/

# Vercel
.vercel

e2e-user-registration.ts
e2e-audit-menus.ts
